#profile-container {
  width: 100%;
  /* padding: 4.8rem; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: space-between;
  flex: 1;
}
#profile-container h1 {
  font-size: 2.4rem;
  color: var(--black);
  align-self: center;
}
#profile-container .profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  align-self: center;
}
#profile-container .profile-image {
  font-size: 2.4rem;
  background-color: var(--accent-gray);
  padding: 1.2rem;
  border-radius: 50%;
  color: var(--white);
  margin-bottom: 2.4rem;
}
#profile-container .username {
  font-size: 1.8rem;
  color: var(--black);
  margin-bottom: 0.4rem;
}
#profile-container .email {
  font-size: 1.4rem;
  color: var(--accent-gray);
  margin-bottom: 4.8rem;
}
#profile-container .info {
  font-size: 1.6rem;
  color: var(--accent-gray);
  align-self: flex-start;
  margin-bottom: 2.4rem;
}
#profile-container .user-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#profile-container .logout-button {
  border: none;
  outline: none;
}
#profile-container .logout-button:hover {
  cursor: pointer;
  transition: 0.3s;
  color: var(--blue);
}
#profile-container .stat-item {
  padding-block: 2.4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  font-size: 1.8rem;
  border-bottom: 1px solid var(--accent-gray);
  background-color: var(--white);
}
@media screen and (max-width: 475px) {
  #profile-container .profile-content {
    width: 100%;
  }
}
